* {
  display: flex;
}
.auth {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  // height: $content-height;
  // min-height: $content-min-height;
  gap: 12px;
  padding: 6px;
  border: 2px solid black;

}

