@import "../../../variables.scss";

* {
  display: flex;
}
.logo {
  z-index: 1;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  color: $logo-color;
 // margin-right: 32px;
  &:hover:not(.active) {
    cursor: pointer;
    box-shadow: 3px 3px 5px black, inset 0 0 3px black;
    height: 100%;

  }
  .home {
    padding: 4px;
    align-items: center;
    justify-content: center;

  }

}


.navigation {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100vw;
  height: $navigation-height;
  min-height: $navigation-min-height;
  padding-right:  12px;
  overflow-y: visible;
  background-color: $navigation-bg-color;


}

.nav-link {
  border: none;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-decoration: none;
  padding: 12px;
  color: $navigation-text-color;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  background-color: $navigation-bg-color;

  &:hover:not(.active) {
    z-index: 1;
    background-color: lighten($navigation-bg-color,5%);
    align-self: center;
    height: 110%;
    box-shadow: 3px 3px 5px black, inset 0 0 3px black;
  }

}
.active {
  background-color: $socialmedia-bg-color;
  color: $navigation-text-active-color;

}
